language: node_js
node_js:
  - "8.10.0"

cache:
  directories:
    - "node_modules"

addons:
  postgresql: "9.6"

env:
  global:
    - CODECLIMATE_REPO_TOKEN=1d83bed34d112e88bca8d0cad3eeaf288b32e7f79453656d43fcaae3de79ce0a
    - Travis_REPO_TOKEN=PaGRiWt19dxv2dOM-_iKWw
    - SECRET=esther96

install:
  - npm install

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - npm run migration

script:
  - npm test

after_success:
  - npm run coverage
